<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

    <form action="/madlibs">
        <h1>Give us some info!</h1>

        <div>
            <label>A person's name: </label>
            <input type="text" name="name">
        </div>

        <div>  
            <label>Choose a color: </label>
            <select name="color">
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
                <option value="pink">Pink</option>
                <option value="brown">Brown</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="gold">Gold</option>
                <option value="silver">Silver</option>
                <option value="bronze">Bronze</option>
            </select>
        </div>

        <div>
            <label>Enter a noun: </label>
            <input type="text" name="noun">
        </div>

        <div>
            <label>Enter an adjective: </label>
            <input type="text" name="adj">
        </div>
        
        <div>
            <input type="submit">
        </div>

    </form>

</body>
</html>